@page "/gamelibrary"
@inject NavigationManager NavManager
@inject HttpClient _client
@inject IJSRuntime js

<AuthorizeView>
    <Authorized>
        @if (Copies == null)
        {
            <div class="alert alert-info">Loading Games...</div>
        }
        else
        {
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var copy in Copies)
                    {
                        <tr>
                            <td>@copy.Game.Title</td>
                            <td><button class="btn btn-primary" @onclick="ToPage">Add to cart</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <p>Log in to see your games.</p>
    </NotAuthorized>
</AuthorizeView>


@code {

    private string title = "CoolGame";

    private void updateGamePage()
    {
        title = "UncoolGame";

    }
    private List<Copy> Copies;

    protected override async Task OnInitializedAsync()
    {
        Copies = await _client.GetFromJsonAsync<List<Copy>>("api/Copies");
    }
    private void ToPage()
    {
        NavManager.NavigateTo("/library/gamepage");
    }
}


