@page "/gamelibrary"

<h1>Game Library</h1>

<AuthorizeView>
    <Authorized>
        <div class="library">
            <div class="gamebar">

                <div class="gamelink" @onclick="updateGamePage">@title</div>
                <div class="gamelink">CoolGame</div>
                <div class="gamelink">CoolGame</div>
                <div class="gamelink">CoolGame</div>
                <div class="gamelink">CoolGame</div>
                <div class="gamelink">CoolGame</div>
                <div class="gamelink">CoolGame</div>
                <div class="gamelink">CoolGame</div>

            </div>
            <div class="gamepage">
                <GameLibraryPage />
            </div>
            <div id="gay"></div>
        </div>
            
            
        
    </Authorized>
    <NotAuthorized>
        <p>Log in to see your games.</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    private string title = "CoolGame";

    private void updateGamePage()
    {
        title = "UncoolGame";
    }

}
