
.gamebar {
    background-color: cornflowerblue;
    border: inset purple 2px;
    opacity: 0.5;
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    width: 160px;
    height: 100%;
    flex-direction: column;
    left: 0;
    top: 0;
    overflow-y: scroll;
}

.gamelink{
    text-decoration:black;
    width:160px;
}
.gamelink:focus {
    width:200px;
}
  
.library{
    height: 600px;
    width: 1200px;
    opacity: 80%;
    background-color:black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-shrink:1;

}
.gamepage {
    right: 0;
    bottom: 0;
    overflow-y:scroll;
    height: 100%;
    width: 100%;
}
