@page "/gamelibrary"

<h3>Game Library</h3>

<AuthorizeView>
    <Authorized>
        <p>There are games here.</p>
    </Authorized>
    <NotAuthorized>
        <p>Log in to see your games.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    
}
