@page "/"

<h1>Welcome to The Cyclosion</h1>

<p>The Cyclosion is an upcoming Games Distribution platform where <b>YOU</b> can discover a universe full of games.</p>

<p>This is a place holder image, we will come up with some cool art later</p>
<img src="pictures/chez.png" />
