@page "/store"
@inject NavigationManager NavManager

<h1>Store</h1>
<button class="btn btn-primary" @onclick="ToCart">Go to cart</button>

<div>
    <img src="/chez.png" />
    <p>Cheese The Game</p>
    <p>$4.20</p>
    <button class="btn btn-primary" @onclick="ToCart">Add to cart</button>
</div>

<div>
    <img src="/chez.png" />
    <p>Cheese The Game : The Sequel</p>
    <p>$6.66</p>
    <button class="btn btn-primary" @onclick="ToCart">Add to cart</button>
</div>

<div>
    <img src="/chez.png" />
    <p>Cheese The Game : The Prequel</p>
    <p>$12.69</p>
    <button class="btn btn-primary" @onclick="ToCart">Add to cart</button>
</div>

<div>
    <img src="/chez.png" />
    <p>Cheese The Game 2 : Electric Boogaloo</p>
    <p>$69.42</p>
    <button class="btn btn-primary" @onclick="ToCart">Add to cart</button>
</div>
<hr />
<footer>&copy The Cyclosion 2021-2022</footer>
@code {
    private void ToCart()
    {
        NavManager.NavigateTo("/cart");
    }
}
