.header {
    background-color: lightblue;
    height: 35px;
}

.container {
    margin: 5px;
    border: 2px solid #341C09;
    white-space: nowrap;
}

.item {
    border: 2px solid #B85B14;
    background-color: #FC7307;
    width: 120px;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}

.flex-item {
    flex: 0 0 auto;
}
