@page "/add-copy"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Buy new game</h3>

<FormComponent ButtonText="Publish" copy="copy" OnValidSubmit="@addCopy" />

@code {
    Copy copy = new Copy();

    private async Task addCopy()
    {
        await _client.PostAsJsonAsync("api/copies", copy);
        _navManager.NavigateTo("/gameLibrary/");
    }
}
