@page "/gamelibrary"
@inject HttpClient _client
@* Error handling *@
@inject HttpInterceptorService _interceptor
@inject IJSRuntime js
@implements IDisposable

<h1>Game Library</h1>

<AuthorizeView>
    <Authorized>
        @if (Copies == null)
        {
            <div class="alert alert-info">Loading Games...</div>
        }
        else
        {
            //Below is the container for the different games.
            @**<div class="container flex">
                @foreach (var copy in Copies)
                {
                    if (copy.Order.Payment.User.Email == context.User.Identity.Name)
                    {
                        <div class="StoreCard">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="pictures/@copy.Game.Thumbnail">
                                <div class="card-body">
                                    <h5 class="card-title">@copy.Game.Title</h5>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            *@

            <table class="table table-responsive" id="CopyTable">
                <thead>
                    <tr>
                        <th>Thumbnail</th>
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var copy in Copies)
                    {
                        if (copy.Order.Payment.User.Email == context.User.Identity.Name)
                        {
                            <tr>
                                <td><img class="card-img-top" src="pictures/@copy.Game.Thumbnail"></td>
                                <td>@copy.Game.Title</td>
                                <td>
                                    @*
                                    <a href="/Colours/view/@Colour.Id" class="btn btn-primary">
                                        <span class="oi oi-book"></span>
                                    </a>
                                    <a href="/Colours/edit/@Colour.Id" class="btn btn-warning">
                                        <span class="oi oi-pencil"></span>
                                    </a>
                                    <button class="btn btn-danger" @onclick="@(()=>Delete(Colour.Id))">
                                        <span class="oi oi-delete"></span>
                                    </button>
                                    *@
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <p>Log in to see your games.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<Copy> Copies;

    protected override async Task OnInitializedAsync()
    {
        //error handling
        _interceptor.MonitorEvent();
        //line break
        Copies = await _client.GetFromJsonAsync<List<Copy>>("api/copies");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#CopyTable");
    }

    //error handling
    public void Dispose()
    {
        js.InvokeVoidAsync("DataTablesDispose", "#CopyTable");
    }
}
