@page "/gamelibrary"
    <div class="Main flex-fill">
        <h1>Game Library</h1>
        <AuthorizeView>
            <Authorized>


                <p>There are games here.</p>
                <div class="GameBar flex-column">
                    <div class="Game"><h1 class="GameText">Game</h1></div>
                    <div class="Game"><h1 class="GameText">Game</h1></div>
                    <div class="Game"><h1 class="GameText">Game</h1></div>
                    <div class="Game"><h1 class="GameText">Game</h1></div>
                    <div class="Game"><h1 class="GameText">Game</h1></div>
                </div>

            </Authorized>
            <NotAuthorized>
                <p>Log in to see your games.</p>
            </NotAuthorized>
        </AuthorizeView>
    </div>
    @code {

    }
